:root {
    /** Sizing Variables */
    --card-width: 45rem;                /* Note: Width = 2*height */
    --card-height: 22.5rem;
    --card-border-width: 0.5rem;
    --card-border-radius: 0.5rem;
    --card-content-horizontal-padding: 1rem;

    /** Color Variables */
    --card-background-color:  rgb(230, 235, 242);
    --card-border-color: rgb(159, 192, 245);

    /** Other Variables */
    --card-border-style: solid;

    /** Text variables */
    --card-font: 'Inter';
    --card-text-size: 3rem;
}

.card {
    /* card background color */
    background-color: rgb(230, 235, 242);
    
    /* card border styling */
    border-style: var(--card-border-style);
    border-radius: var(--card-border-radius);
    border-color: var(--card-border-color);
    border-width: var(--card-border-width);

    /* card font */
    font-family: var(--card-font);
    font-size: var(--card-text-size);

    /* card size/shape */
    width: var(--card-width);
    height: var(--card-height);

    /* text alignment */
    display: flex;
    text-align: left; 
}

.card-content {
    margin: auto;
    padding-left: var(--card-content-horizontal-padding);
    padding-right: var(--card-content-horizontal-padding);
}

#hover-demo-A:hover {
    box-shadow: 0rem 0rem 1rem 0.1rem var(--card-border-color);
}

#hover-demo-B:hover {
    box-shadow: 0rem 0.5rem 1rem -0.5rem black;
    transform: translateY(-0.5rem);
}




/** Non-functional CSS - Demo Layout */

body {
    margin: auto;
    place-items: center;
    padding: 5rem;
}

#back-card {
    /* temporary margin to space from front card on top */
    margin-top: 2.5rem;
}

#full-card {
    margin-top: 2.5rem;
}

#hover-demo-A, #hover-demo-B {
    margin-top: 2.5rem;
}