:root {
    /** Color Variables */
    --white:  rgb(241 236 254);
    --light-blue: rgb(176 202 227);
    --lilac: rgb(229 201 228);
    --navy: rgb(19 16 45);
    --black: rgb(0 0 0);
    --white-transparent: rgb(241 236 254 / 80%);
}

body,html {
    font-family: Arial, sans-serif;
    color: var(--white);
    margin: auto;
    place-items: center;
    padding: 5rem;
    background-color: var(--navy); /** In case background img doesn't load */
    background-image: url("../10xCardsBG.png");
    background-attachment: fixed;
}

.title {
    display: flex;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: var(--white);
    justify-content: center;
}

.motto {
    display: flex;
    color: var(--lilac);
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;

}

.flash-card-container {
    display: flex;
    background-color: var(--light-blue);
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 15px;
    min-height: 50vh;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
}

.speech {
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 20px;
    padding: 1em;
    min-width: 200px;
    max-width: 200px;
    flex: 1 1 200px;
    box-sizing: border-box;
    height: 300px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.speech:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

.add-speech {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 100px;
    width: 75px; 
    height: 75px;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
}

.add-speech:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}
.bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#edit-speech-button {
    background-color: var(--white-transparent);
    color: var(--black);
    border-radius: 10px;
    width: 20vw;
    height: 7vh;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

#study-button {
    background-color: var(--white-transparent);
    color: var(--black);
    border-radius: 10px;
    width: 20vw;
    height: 7vh;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

#delete-speech-button {
    background-color: var(--white-transparent);
    color: var(--black);
    border-radius: 10px;
    width: 20vw;
    height: 7vh;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

/*FOR WHEN WINDOW SIZE IS SMALL*/
@media (max-width: 600px) {
    .flash-card-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-width: 50vw;
        padding: 1rem;
    }

    .speech {
        width: 100vw;
        height: auto;
        padding: 2rem;
        font-size: 1.5em;
    }

    .add-speech {
        width: 60px;
        height: 60px;
        font-size: 3em;
    }
}
