
existing-screen {
    align-items: center;
    background-color: var(--underlay, rgba(1,1,1,0.75));
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin-inline: auto;
    padding: var(--size-0);
}

deck-preview {
    align-items: center;
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 20px;
    color: var(--black);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Jersey 10", sans-serif;
    font-size: var(--size-1);
    font-style: normal;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    max-height: 50vh;
    min-width: calc((100% - 48px) / 3);
    padding: 0 24px;
    scroll-snap-align: start;   
}

/* || Within <existing-screen> Component Styling */
existing-screen > main {
    align-items: center;
    display: grid;
    gap: 1.5rem;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    overflow: hidden;
    padding: 1em 0; 
    position: relative;
}

.add-speech {
    align-items: center;
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 100px;
    color: var(--black);
    display: flex;
    font-family: "Jersey 10", sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 400;
    height: 75px;
    justify-content: center;
    width: 75px; 
}

.flash-card-container {
    align-items: center;
    background-color: var(--light-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    height: 100%;
    justify-content: flex-start;
    max-height: 60vh;
    overflow-x: scroll;
    padding: var(--size-1);
    scroll-behavior: smooth;
    scrollbar-color: var(--white) rgba(0,0,0,0);
    scroll-padding-inline: 1rem;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.flash-card-container > p {
    align-self: center;
    border-radius: 10px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-size: var(--size-2);
    font-style: normal;
    font-weight: 400;
    justify-self: center;
    text-align: center;
    width: 100%;
}

.motto {
    color: var(--lilac);
    font-family: "Lilita One", sans-serif;
    font-size: var(--size-2);
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.title {
    color: var(--white);
    font-family: "Jersey 10", sans-serif;
    font-size: var(--size-5);
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

deck-preview.selected {
    box-shadow: 0 0 5px 3px #191970;
}

existing-screen h2 {
    color: var(--white);
    font-family: "Jersey 10", sans-serif;
    font-size: var(--size-2);
    letter-spacing: 0.05em;
}

existing-screen .bottom {
    align-items: center;
    display: flex;
    font-size: var(--size-3);
    gap: 1em;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

/* || Within <main> Styling */
existing-screen .top {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;  
}

/* || <menu> styling */
existing-screen .bottom button {    
    background-color: var(--white-transparent);
    border-radius: 10px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-size: var(--size-2);
    font-style: normal;
    font-weight: 400;
    height: 100%;
    max-height: 2em;
    min-height: 1em;
    width: 25%;
}

#create-speech-button {
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: var(--size-4);
    height: 1.5em;
    justify-content: center;
    min-height: 1.5em;
    min-width: 1.5em;
    width: 1.5em;  
}  

.add-speech:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

.speech:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

/* FOR WHEN WINDOW SIZE IS SMALL */
@media (max-width: 640px) {
    existing-screen {
        grid-template-rows: auto 1fr;
    }

    existing-screen > main {
        grid-template-rows: 10% auto 10%;
    }

    .flash-card-container {
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 1rem;
        scroll-behavior: smooth;
        scrollbar-color: var(--white) rgba(0,0,0,0);
        scroll-padding: 1rem;
        scroll-snap-type: y mandatory;
        width: 100%;
    }

    .flash-card-container > p {
        align-items: center;
        display: flex;
        height: 100%;
    }
    
    .speech {
        min-height: calc((100% - 48px) / 2);
        width: 100%;
    }

    .add-speech {
        font-size: 3em;
        height: 60px;
        width: 60px;
    }
}

/* FOR WHEN WINDOW SIZE IS MEDIUM */
@media (min-width: 641px) and (max-width: 1024px) {
    .speech {
        min-width: calc((100% - 48px) / 2);
    }
}

/* SMALL HEIGHT */
@media screen and (max-height: 520px) {
    existing-screen header {
        display: none;
    }

    existing-screen {
        grid-template-rows: 1fr;
    }

    existing-screen main {
        grid-template-rows: 10% 1fr 10%;
    }

    .deck-length {
        display: none;
    }
    
    deck-preview {
        font-size: var(--size-0);
    }

    #create-speech-button {
        font-size: var(--size-0);
    }

    existing-screen .bottom button {
        font-size: var(--size-0);
    }
}
