:root {
    /** Color Variables */
    --black: rgb(0 0 0);
    --light-blue: rgb(176 202 227);
    --lilac: rgb(229 201 228);
    --navy: rgb(19 16 45);
    --white:  rgb(241 236 254);
    --white-transparent: rgb(241 236 254 / 80%);
}

body {
    background-attachment: fixed;
    background-color: var(--navy); /** In case background img doesn't load */
    background-image: url("../background.jpg");
    background-size: cover;
    color: var(--white);
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 5rem;
    place-items: center;
}

.flash-card-container {
    align-items: center;
    background-color: var(--light-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 50vh;
    justify-content: left;
    padding-left: 15px;
    width: 80vw;
}

.motto {
    display: flex;
    color: var(--lilac);
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
}

.no-speech-text {
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-size: 3em;
}

.title {
    color: var(--white);
    display: flex;
    font-family: "Jersey 10", sans-serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
}

#prepare-a-speech {
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 10px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5em;
}

#prepare-a-speech:active {
    box-shadow: 0 0 20px 4px var(--white-transparent);
}

/* FOR WHEN WINDOW SIZE IS SMALL */
@media (max-width: 600px) {
    .add-speech {
        font-size: 3em;
        height: 60px;
        width: 60px;
    }

    .flash-card-container {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-width: 50vw;
        padding: 2rem;
    }

    .speech {
        font-size: 1.5em;
        height: auto;
        padding: 2rem;
        width: 100vw;
    }
}


