/* || Container Styling */
create-screen {
    background-color: rgba(1,1,1,0.75);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: var(--max-width, 70rem);
    padding: 1rem;
    position: relative;
}

/* || <create-screen> Elements Styling */
create-screen button {
    background-color: var(--white-transparent);
    border-radius: 10px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-size: var(--size-2);
    font-style: normal;
}

fieldset {
    border: 0;
}

create-screen > menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#speech-form fieldset {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: var(--size-1);
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

#save-button {
    align-self: flex-end;
    height: 2em;
    text-align: center;
    width: 6em;
}

#back-button {
    height: 2em;
    width: 4em;
    align-self: flex-start;
}

create-screen > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-inline: auto;
    max-width: 55vw;
    width: 100%;
}

input:focus {
    box-shadow: 0 0 10px 2px white;
}

textarea:focus {
    box-shadow: 0 0 10px 2px white;
}

/* Card Creation Form Elements Styling */
.card-nav-button {
    align-self: center;
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 100px;
    color: var(--black);
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--size-1);
    height: 2em;
    position: absolute;
    text-align: center;
    width: 2em;
}

.next {
    right: 3vw;
}

.previous {
    transform: scaleX(-1);
    left: 3vw;
}

.flash-card-creation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 1.5em;
    position: relative;
    width: 100%;
}

.card-front {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.card-back {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

#customize-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 1em;
    column-gap: 2em;
    height: 100%;
    position: relative;
    width: 100%;   
}

/* Speech Form Elements Styling*/
.error {
    color: var(--error-color);
    font-size: var(--size--2);
    position: absolute;
    right: 0;
    bottom: -1.2rem;
}

.card-time span.error {
    left: 0;
    bottom: 0;
}

create-screen label {
    align-items: center;
    display: inline-flex;
    font-size: var(--size-1);
    justify-content: flex-start;
}

#title-speech {
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 10px;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: var(--size-2);
    height: 2em;
    text-align: center;
    width: 10em;
}

#input-front-card {
    position: relative;
}

#input-back-card {
    justify-self: flex-end;
    position: relative;
}

textarea {
    background-color: var(--white);
    border: solid var(--white);
    border-radius: 10px;
    color: var(--black);
    height: 15em;
    max-width: 30vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    
}

.card-time {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.5rem 0;
    width: 100%;
}

#set-time {
    align-items: center;
    background-color: var(--white-transparent);
    border-radius: 10px;
    color: var(--black);
    height: 2em;
    width: 7em;
    font-family: "Jersey 10", sans-serif;
    font-size: var(--size-2);
    font-style: normal;
    padding: 0.5em;
    position: relative;
}

#upload-card {
    align-items: center;
    bottom: 1.5rem;
    font-style: normal;
    height: 2em;
    position: absolute;
    right: 0;
    width: 6em;
}

#sort-up {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 100%;
    width: 45px; 
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

#sort-down {
    display: flex;
    background-color: var(--white);
    color: var(--black);
    border: solid var(--white);
    border-radius: 100%;
    width: 45px; 
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.flash-card-list-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 20px;
}

hr {
    display: none;
}

/* || Flash Card List Element Styling */
card-preview {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    margin-inline: auto;
    max-width: 60vw;
    width: 100%;
}

card-preview.selected section {
    background-color: var(--lilac);
}

card-preview > section {
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    color: var(--black);
    display: grid;
    height: 12em;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    position: relative;
    text-align: center;
}

card-preview > menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.time-text {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.flash-card-list-container button {
    background-color: var(--white-transparent);
    outline: none;
    color: var(--black);
    border-radius: 10px;
    width: 5em;
    height: 2em;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-size: var(--size-1);
    align-items: center;
}

.snap-to-top-button {
    background-color: var(--white-transparent);
    height: 2em;
    width: 2em;
    justify-self: flex-end;
}

@media screen and (max-width: 1024px) {
    .flash-card-creation {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    card-preview {
        max-width: 100%;
    }

    #input-front-card {
        max-width: 100%;
    }

    #input-back-card {
        max-width: 100%;
    }

    #set-time {
        max-width: 30%;
    }
}