.top-2 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
}

#deck-name.title {
    background-color:var(--white-transparent);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    min-width: max-content;
}

#back-button, #shuffle-toggle-button {
    background-color: var(--white-transparent);
    height: 2em;
    width: 4em;
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    min-width: max-content;
}





.flip_card {
  background-color: var(--white);
  width: 300px;
  height: 200px;
  border: 1px solid var(--black);
  perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
}

.flip-card-back {
    transform: rotateY(180deg);
}

#deck-name {
    background-color: var(--white-transparent);
    color: var(--black);
    border-radius: 10px;
}

#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    margin: 0;
    padding: 0;
}



