:root {
    --max-width: 70rem;
}
.custom-dialog form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.custom-dialog menu {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}
