body {
    font-family: Arial, sans-serif;
    color: rgb(241, 236, 254);
    margin: auto;
    place-items: center;
    padding: 5rem;
    background-color: rgb(19,16,45);
    background-image: url("10xCardsBG.png");
    background-attachment: fixed;
}

.flash-card-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 4px;

    width: 80vw;
    height: 50vh;
   
    background-color: rgb(176, 202, 227);
    border-radius: 20px;
}

.flash-card-container button{
    color: rgb(19, 16, 45);
    background-color: rgb(241, 236, 254);
}
