name: Deploy docs

on:
  push:
    branches: ["main"]

  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  generate-and-push-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Main command
        env: 
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          COMMIT: ${{ github.sha }}
          ORG_NAME: cse110-sp25-group-10
          PROJECT_REPO_NAME: Flashcard-Project
          REPO_NAME: Flashcard-Project-Docs
        run: |
          git clone https://x-access-token:${GITHUB_TOKEN}@github.com/${ORG_NAME}/${REPO_NAME}.git
          
          npm i
          
          ./node_modules/.bin/jsdoc ./scripts -r -d ${REPO_NAME}
          cd ${REPO_NAME}

          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

          git add .
          git commit -m "Automatically update docs - commit [${COMMIT}](https://github.com/${ORG_NAME}/${Flashcard-Project}/commit/${COMMIT})"

          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${ORG_NAME}/${REPO_NAME}.git main